
header {
    background-image: url(../images/starhead.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

h1,h3 {
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
}

nav li a:hover {
    background-color: darkslategray;
    color: white !important;
}

section{
    background-color: darkslategray;
}

body{
    font-family: "Headland One", serif;
  font-weight: 400;
  font-style: normal;

}
footer{
    background-image: url(../images/bluegreen.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
nav ul li a:link, nav ul li a:visited {
  display: block;
  color: white;
  text-align:center;
  padding: 20px 22px;
  text-decoration: none;
}

a:link {
    color:rgb(55, 46, 112);
}

a:visited {
    color:rgb(76, 60, 182);
}

a:hover {
    color:rgb(89, 89, 1);
}

