header{
    background: url(../photos/skyline\ copy.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

h1,h2{
  font-family: "Croissant One", serif;
  font-weight: 400;
  font-style: normal;
}

h3,body{
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
}

section{
  background-color:rgb(255, 180, 157);
}

nav li a:hover {
    background-color:rgb(255, 180, 157);
    color: white;
}

a:link {
    color:rgb(0, 0, 0);
}

a:visited {
    color:rgb(201, 134, 114);
}

a:hover {
    color:rgb(150, 102, 88);
}